<!DOCTYPE html>
<html lang="en">
</head>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <title>Contact us</title>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{%url 'djangoapp:index' %}">Home</a>
            </div>
            </div>
        </nav>
        <div class="bg-light">
            <div class="container py-5">
                <div class="row h-100 align-items-center py-5">
                        <h1 class="display-4">Contact us page</h1>
                        <p class="lead text-muted mb-0">Please contact us at our addresses:</p>
                        <p class="lead text-muted mb-0">blah blah blah</p>
                </div>
            </div>
        </div>
   </body>
</html>